@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Active theme variables — light by default */
    --bg: 240 240 240;
    --fg: 0 0 0;
    --fg-muted: 50 50 50;
    --icon-outline: 50 50 50;
    --icon-bg: 255 255 255;
    --icon-text: 0 0 0;
    --icon-outline-hover: 0 0 0;
    --icon-bg-hover: 240 240 240;
    --icon-text-hover: 0 0 0;
    --link-outline: 50 50 50;
    --link-bg: 255 255 255;
    --link-text: 0 0 0;
    --link-outline-hover: 0 0 0;
    --link-bg-hover: 240 240 240;
    --link-text-hover: 0 0 0;
  }

  .dark {
    --bg: 10 10 10;
    --fg: 255 255 255;
    --fg-muted: 205 205 205;
    --icon-outline: 205 205 205;
    --icon-bg: 0 0 0;
    --icon-text: 255 255 255;
    --icon-outline-hover: 255 255 255;
    --icon-bg-hover: 50 50 50;
    --icon-text-hover: 255 255 255;
    --link-outline: 205 205 205;
    --link-bg: 0 0 0;
    --link-text: 255 255 255;
    --link-outline-hover: 255 255 255;
    --link-bg-hover: 50 50 50;
    --link-text-hover: 255 255 255;
  }

  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
