<footer
  class="pt-12 text-center text-xs text-fg-muted"
>
  <hr class="opacity-50" />
  <div class="block py-4 no-underline ">
    <label>
      Desarrollado por <a href="https://www.linkedin.com/in/codingfer" class="hover:text-fg">@codingFer</a> para el mundo.
    </label>
    <br>
    <label>Copyright ©2026</label>
  </div>

</footer>
